@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .forms {
        @apply rounded-lg outline-none focus:border-b-4 hover:border-b-4 border-green-400 transition-all p-2 text-xl
    }

    
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y;
    scroll-snap-stop: always;
}